<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='authentification.css') }}">
</head>
<body>
    <h2>Créer un compte</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required><br><br>
        <input type="email" name="email" placeholder="Email" required><br><br>
        <input type="password" name="password" placeholder="Mot de passe" required><br><br>
        <button type="submit">S'inscrire</button>
    </form>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <p>Déjà un compte ? 
        <a href="{{ url_for('connexion') }}">Se connecter</a>
    </p>

    <a href="{{ url_for('home') }}">Retour</a>
</body>
</html>